
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 2rem;
    /* Flexbox 추가 */
    display: flex;
    justify-content: space-between; 
    align-items: center;            
}

nav {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* 마우스를 올렸을 때 효과 */
nav a:hover {
    color: #ffcc00;      /* 색상 변경 */
    text-decoration: underline;
}

/* 섹션 스타일 */
section {
    padding: 80 20px;  /* 위아래 80px, 좌우 20px 여백 */
    min-height: 100vh; /* 최소 높이를 화면 높이만큼으로 설정 */
    display: flex;     /* 내용을 정렬하기 위해 flex 사용 */
    flex-direction: column; /* 내용을 세로로 쌓기 */
    justify-content: center;/* 세로 기준 가운데 정렬 */
    align-items: center;    /* 가로 기준 가운데 정렬 */
    margin: 10px;
    background: #fff;
}

/* 섹션마다 배경색을 다르게 해서 구분해보기 */
#about { background-color: #f4f4f4; }

/* 섹션 전체 여백 */
#projects { 
    background-color: #fff; 
    padding: 40px 20px;
    max-width: 900px;
    margin: 0 auto;
}

/* 헤더 부분 (글자와 링크 양옆 배치) */
.projects-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

/* 카드 컨테이너 (2개씩 배치하는 핵심!) */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

/* 개별 카드 스타일 */
.projects-card{
    flex: 1 1 calc(50% - 8px);   /* 한 줄에 2개씩 */
    border: 1px solid #d0d7de; /* 테두리 */
    border-radius: 6px;          /* 모서리 둥글게 */
    padding: 16px;
    display: flex;
    flex-direction: column;      /* 위아래로 배치(열) */
    justify-content: space-between;
    min-height: 100px;
}

/* 카드 내부 상세 스타일 */
.repo-name {
    color: #0969da;
    text-decoration: none;
    font-weight: bold;
}

.badg {
    font-size: 12px;
    border: 1px solid #d0d7de;
    border-radius: 10px;
    padding: 2px 8px;
    color: #57606a;
}

/* 언어 표시 점(Dot) */
.lang-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 4px;
}
.html { background-color: #e34c26; } /* HTML은 주황색 */
.python { background-color: #3572A5; } /* Python은 파란색 */

.lang-text {
    font-size: 12px;
    color: #57606a;
}